In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

## Ejemplo 7.1 Ecuación de salario por hora (wage1.dta)

In [2]:
dfej7_1= pd.read_stata('wage1.dta')
dfej7_1.head()

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4

In [3]:
regdfej7_1 = smf.ols('wage ~ female + educ + exper + tenure', data = dfej7_1).fit() 
print(regdfej7_1.summary())

c:\python\lib\site-packages\statsmodels\compat\pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

                            OLS Regression Results
==============================================================================
Dep. Variable:                   wage   R-squared:                       0.364
Model:                            OLS   Adj. R-squared:                  0.359
Method:                 Least Squares   F-statistic:                     74.40
Date:                Thu, 09 Sep 2021   Prob (F-statistic):           7.30e-50
Time:                        15:31:36   Log-Likelihood:                -1314.2
No. Observations:                 526   AIC:                             2638.
Df Residuals:                     521   BIC:                             2660.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -1.5679      0.725     -2.164      0.031      -2.991      -0.145
female        -1.8109      0.265     -6.838      0.000      -2.331      -1.291
educ           0.5715      0.049     11.584      0.000       0.475       0.668
exper          0.0254      0.012      2.195      0.029       0.003       0.048
tenure         0.1410      0.021      6.663      0.000       0.099       0.183
==============================================================================
Omnibus:                      185.864   Durbin-Watson:                   1.794
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              715.580
Skew:                           1.589   Prob(JB):                    4.11e-156
Kurtosis:                       7.749   Cond. No.                         141.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [4]:
dfej7_1['wage'].loc[dfej7_1.female ==1].mean()

4.587659

In [5]:
dfej7_1['wage'].loc[dfej7_1.female ==0].mean()

7.099489

In [6]:
4.587659 - 7.099489

-2.51183

In [9]:
dfej7_1['wage'].mean()

5.896103

In [8]:
regA = smf.ols('wage ~ 1', data = dfej7_1).fit() 
print(regA.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   wage   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                       nan
Date:                Thu, 09 Sep 2021   Prob (F-statistic):                nan
Time:                        15:40:42   Log-Likelihood:                -1433.1
No. Observations:                 526   AIC:                             2868.
Df Residuals:                     525   BIC:                             2872.
Df Model:                           0
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.8961      0.161     36.616      0.000       5.580       6.212
==============================================================================
Omnibus:                      228.103   Durbin-Watson:                   1.818
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              894.619
Skew:                           2.007   Prob(JB):                    5.44e-195
Kurtosis:                       7.970   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

c:\python\lib\site-packages\statsmodels\regression\linear_model.py:1554: RuntimeWarning: invalid value encountered in double_scalars
  return self.ess/self.df_model
c:\python\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
c:\python\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
c:\python\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [10]:
regB = smf.ols('wage ~ female', data = dfej7_1).fit() 
print(regB.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   wage   R-squared:                       0.116
Model:                            OLS   Adj. R-squared:                  0.114
Method:                 Least Squares   F-statistic:                     68.54
Date:                Thu, 09 Sep 2021   Prob (F-statistic):           1.04e-15
Time:                        15:51:06   Log-Likelihood:                -1400.7
No. Observations:                 526   AIC:                             2805.
Df Residuals:                     524   BIC:                             2814.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      7.0995      0.210     33.806      0.000       6.687       7.512
female        -2.5118      0.303     -8.279      0.000      -3.108      -1.916
==============================================================================
Omnibus:                      223.488   Durbin-Watson:                   1.818
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              929.998
Skew:                           1.928   Prob(JB):                    1.13e-202
Kurtosis:                       8.250   Cond. No.                         2.57
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [11]:
regC = smf.ols('wage ~ female + educ ', data = dfej7_1).fit() 
print(regC.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   wage   R-squared:                       0.259
Model:                            OLS   Adj. R-squared:                  0.256
Method:                 Least Squares   F-statistic:                     91.32
Date:                Thu, 09 Sep 2021   Prob (F-statistic):           9.66e-35
Time:                        16:06:33   Log-Likelihood:                -1354.3
No. Observations:                 526   AIC:                             2715.
Df Residuals:                     523   BIC:                             2727.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.6228      0.673      0.926      0.355      -0.698       1.944
female        -2.2734      0.279     -8.147      0.000      -2.822      -1.725
educ           0.5065      0.050     10.051      0.000       0.407       0.605
==============================================================================
Omnibus:                      205.985   Durbin-Watson:                   1.830
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              819.498
Skew:                           1.772   Prob(JB):                    1.12e-178
Kurtosis:                       7.984   Cond. No.                         63.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Ejemplo 7.2 Efectos de poseer un computador sobre la nota media en la univercidad (gpa1.dta)

In [7]:
dfej7_2= pd.read_stata('gpa1.dta')
dfej7_2.head()

,age,soph,junior,senior,senior5,male,campus,business,engineer,colGPA,...,greek,car,siblings,bgfriend,clubs,skipped,alcohol,gradMI,fathcoll,mothcoll
0,21,0,0,1,0,0,0,1,0,3.0,...,0,1,1,0,0,2.0,1.0,1,0,0
1,21,0,0,1,0,0,0,1,0,3.4,...,0,1,0,1,1,0.0,1.0,1,1,1
2,20,0,1,0,0,0,0,1,0,3.0,...,0,1,1,0,1,0.0,1.0,1,1,1
3,19,1,0,0,0,1,1,1,0,3.5,...,0,0,1,0,0,0.0,0.0,0,0,0
4,20,0,1,0,0,0,0,1,0,3.6,...,0,1,1,1,0,0.0,1.5,1,1,0

In [12]:
regdfej7_2 = smf.ols('colGPA ~ PC + hsGPA + ACT ', data = dfej7_2).fit() 
print(regdfej7_2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 colGPA   R-squared:                       0.219
Model:                            OLS   Adj. R-squared:                  0.202
Method:                 Least Squares   F-statistic:                     12.83
Date:                Mon, 13 Jul 2020   Prob (F-statistic):           1.93e-07
Time:                        20:32:59   Log-Likelihood:                -42.796
No. Observations:                 141   AIC:                             93.59
Df Residuals:                     137   BIC:                             105.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.2635      0.333      3.793      0.000       0.605       1.922
PC             0.1573      0.057      2.746      0.007       0.044       0.271
hsGPA          0.4472      0.094      4.776      0.000       0.262       0.632
ACT            0.0087      0.011      0.822      0.413      -0.012       0.029
==============================================================================
Omnibus:                        2.770   Durbin-Watson:                   1.870
Prob(Omnibus):                  0.250   Jarque-Bera (JB):                1.863
Skew:                           0.016   Prob(JB):                        0.394
Kurtosis:                       2.438   Cond. No.                         298.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Ejemplo 7.3 Efectos de las subvenciones de formación sobre las horas de formación (jtrain.dta)

In [13]:
dfej7_3= pd.read_stata('jtrain.dta')
dfej7_3.head()

,year,fcode,employ,sales,avgsal,scrap,rework,tothrs,union,grant,...,grant_1,clscrap,cgrant,clemploy,clsales,lavgsal,clavgsal,cgrant_1,chrsemp,clhrsemp
0,1987,410032.0,100.0,47000000.0,35000.0,NaN,NaN,12.0,0,0,...,0,NaN,0,NaN,NaN,10.463103,NaN,NaN,NaN,NaN
1,1988,410032.0,131.0,43000000.0,37000.0,NaN,NaN,8.0,0,0,...,0,NaN,0,0.270027,-0.088949,10.518673,0.055570,0.0,-8.946565,-1.165385
2,1989,410032.0,123.0,49000000.0,39000.0,NaN,NaN,8.0,0,0,...,0,NaN,0,-0.063013,0.130621,10.571317,0.052644,0.0,0.198597,0.047832
3,1987,410440.0,12.0,1560000.0,10500.0,NaN,NaN,12.0,0,0,...,0,NaN,0,NaN,NaN,9.259130,NaN,NaN,NaN,NaN
4,1988,410440.0,13.0,1970000.0,11000.0,NaN,NaN,12.0,0,0,...,0,NaN,0,0.080043,0.233347,9.305651,0.046520,0.0,0.000000,0.000000

In [18]:
dfej7_3['grant'] = dfej7_3['grant'].astype(float)

In [22]:
# Se filtra la base para el año 1988
dfej7_388= dfej7_3[dfej7_3.year == 1988]

In [23]:
regdfej7_3 = smf.ols('hrsemp ~ grant + np.log(sales) + np.log(employ) ', data = dfej7_388).fit() 
print(regdfej7_3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 hrsemp   R-squared:                       0.237
Model:                            OLS   Adj. R-squared:                  0.214
Method:                 Least Squares   F-statistic:                     10.44
Date:                Mon, 13 Jul 2020   Prob (F-statistic):           4.80e-06
Time:                        20:47:56   Log-Likelihood:                -482.29
No. Observations:                 105   AIC:                             972.6
Df Residuals:                     101   BIC:                             983.2
Df Model:                           3
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         46.6651     43.412      1.075      0.285     -39.453     132.783
grant             26.2545      5.592      4.695      0.000      15.162      37.347
np.log(sales)     -0.9846      3.540     -0.278      0.781      -8.007       6.038
np.log(employ)    -6.0699      3.883     -1.563      0.121     -13.772       1.633
==============================================================================
Omnibus:                       66.291   Durbin-Watson:                   2.182
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              284.382
Skew:                           2.191   Prob(JB):                     1.77e-62
Kurtosis:                       9.767   Cond. No.                         285.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Ejemplo 7.4 Regresión del precio de la vivienda (hprice1.dta)

In [24]:
dfej7_4= pd.read_stata('hprice1.dta')
dfej7_4.head()

,price,assess,bdrms,lotsize,sqrft,colonial,lprice,lassess,llotsize,lsqrft
0,300.0,349.100006,4,6126.0,2438,1,5.703783,5.855359,8.720297,7.798934
1,370.0,351.500000,3,9903.0,2076,1,5.913503,5.862210,9.200593,7.638198
2,191.0,217.699997,3,5200.0,1374,0,5.252274,5.383118,8.556414,7.225482
3,195.0,231.800003,3,4600.0,1448,1,5.273000,5.445875,8.433811,7.277938
4,373.0,319.100006,4,6095.0,2514,1,5.921578,5.765504,8.715224,7.829630

In [27]:
dfej7_4['bdrms'] = dfej7_4['bdrms'].astype(float)

In [29]:
dfej7_4['sqrft'] = dfej7_4['sqrft'].astype(float)

In [30]:
dfej7_4['colonial'] = dfej7_4['colonial'].astype(float)

In [31]:
dfej7_4.dtypes

price       float32
assess      float32
bdrms       float64
lotsize     float32
sqrft       float64
colonial    float64
lprice      float32
lassess     float32
llotsize    float32
lsqrft      float32
dtype: object

In [32]:
regdfej7_4 = smf.ols('np.log(price) ~ np.log(lotsize) + np.log(sqrft) + bdrms + colonial ', data = dfej7_4).fit() 
print(regdfej7_4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(price)   R-squared:                       0.649
Model:                            OLS   Adj. R-squared:                  0.632
Method:                 Least Squares   F-statistic:                     38.38
Date:                Mon, 13 Jul 2020   Prob (F-statistic):           3.74e-18
Time:                        21:13:02   Log-Likelihood:                 26.619
No. Observations:                  88   AIC:                            -43.24
Df Residuals:                      83   BIC:                            -30.85
Df Model:                           4
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          -1.3496      0.651     -2.073      0.041      -2.644      -0.055
np.log(lotsize)     0.1678      0.038      4.395      0.000       0.092       0.244
np.log(sqrft)       0.7072      0.093      7.620      0.000       0.523       0.892
bdrms               0.0268      0.029      0.934      0.353      -0.030       0.084
colonial            0.0538      0.045      1.202      0.233      -0.035       0.143
==============================================================================
Omnibus:                       13.728   Durbin-Watson:                   2.077
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               50.828
Skew:                          -0.053   Prob(JB):                     9.18e-12
Kurtosis:                       6.722   Cond. No.                         411.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Ejemplo 7.5 Ecuaclón del logaritmo del salario por hora* (wage1.dta)

In [34]:
dfej7_1.dtypes

wage        float32
educ           int8
exper          int8
tenure         int8
nonwhite       int8
female         int8
married        int8
numdep         int8
smsa           int8
northcen       int8
south          int8
west           int8
construc       int8
ndurman        int8
trcommpu       int8
trade          int8
services       int8
profserv       int8
profocc        int8
clerocc        int8
servocc        int8
lwage       float32
expersq       int16
tenursq       int16
dtype: object

In [3]:
dfej7_1['educ'] = dfej7_1['educ'].astype(float)

In [4]:
dfej7_1['exper'] = dfej7_1['exper'].astype(float)

In [5]:
dfej7_1['tenure'] = dfej7_1['tenure'].astype(float)

In [6]:
dfej7_1['female'] = dfej7_1['female'].astype(float)

In [7]:
regdfej7_5 = smf.ols('np.log(wage) ~ female + educ + exper + np.square(exper) + tenure + np.square(tenure)', data = dfej7_1).fit() 
print(regdfej7_5.summary())

c:\python\lib\site-packages\statsmodels\compat\pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.441
Model:                            OLS   Adj. R-squared:                  0.434
Method:                 Least Squares   F-statistic:                     68.18
Date:                Thu, 10 Sep 2020   Prob (F-statistic):           2.11e-62
Time:                        15:57:24   Log-Likelihood:                -260.59
No. Observations:                 526   AIC:                             535.2
Df Residuals:                     519   BIC:                             565.0
Df Model:                           6
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             0.4167      0.099      4.212      0.000       0.222       0.611
female               -0.2965      0.036     -8.281      0.000      -0.367      -0.226
educ                  0.0802      0.007     11.868      0.000       0.067       0.093
exper                 0.0294      0.005      5.916      0.000       0.020       0.039
np.square(exper)     -0.0006      0.000     -5.431      0.000      -0.001      -0.000
tenure                0.0317      0.007      4.633      0.000       0.018       0.045
np.square(tenure)    -0.0006      0.000     -2.493      0.013      -0.001      -0.000
==============================================================================
Omnibus:                       13.111   Durbin-Watson:                   1.796
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               24.212
Skew:                          -0.085   Prob(JB):                     5.53e-06
Kurtosis:                       4.037   Cond. No.                     4.49e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.49e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [29]:
a = dfej7_1['lwage'].loc[dfej7_1['female']== 1 ].mean() - dfej7_1['lwage'].loc[dfej7_1['female']== 0 ].mean()

In [30]:
a

-0.39721763

In [23]:
np.exp(-0.297987699508667)-1

-0.25768952952487345

In [ ]:
# si se hace con fitted da igual

In [25]:
dfej7_1['lwagefit'] = regdfej7_5.fittedvalues

In [26]:
b = dfej7_1['lwagefit'].loc[dfej7_1['female']== 1 ].mean() - dfej7_1['lwagefit'].loc[dfej7_1['female']== 0 ].mean()
b

-0.3972174717365169

In [ ]:
# lo del libro es teniendo en cta las variables de la regresión

## Ejemplo 7.6 Ecuaclón del logaritmo del salario por hora* (wage1.dta)

In [44]:
dfej7_1['married'] = dfej7_1['married'].astype(float)

In [47]:
dfej7_1['marrmale']=(1-dfej7_1['female']) *dfej7_1['married']
dfej7_1['marrfem']=dfej7_1['female'] *dfej7_1['married']
dfej7_1['singfem']=dfej7_1['female'] *(1-dfej7_1['married'])
dfej7_1['singmale']= (1-dfej7_1['female'])*(1-dfej7_1['married'])

In [53]:
dfej7_1[['female','married','marrmale','marrfem','singfem','singmale']].head()

   female  married  marrmale  marrfem  singfem  singmale
0     1.0      0.0       0.0      0.0      1.0       0.0
1     1.0      1.0       0.0      1.0      0.0       0.0
2     0.0      0.0       0.0      0.0      0.0       1.0
3     0.0      1.0       1.0      0.0      0.0       0.0
4     0.0      1.0       1.0      0.0      0.0       0.0

In [54]:
regdfej7_6 = smf.ols('np.log(wage) ~ marrmale+marrfem+singfem+educ+exper+np.square(exper)+tenure+np.square(tenure)',data = dfej7_1).fit() 
print(regdfej7_6.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.461
Model:                            OLS   Adj. R-squared:                  0.453
Method:                 Least Squares   F-statistic:                     55.25
Date:                Mon, 13 Jul 2020   Prob (F-statistic):           1.28e-64
Time:                        21:49:30   Log-Likelihood:                -250.96
No. Observations:                 526   AIC:                             519.9
Df Residuals:                     517   BIC:                             558.3
Df Model:                           8
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             0.3214      0.100      3.213      0.001       0.125       0.518
marrmale              0.2127      0.055      3.842      0.000       0.104       0.321
marrfem              -0.1983      0.058     -3.428      0.001      -0.312      -0.085
singfem              -0.1104      0.056     -1.980      0.048      -0.220      -0.001
educ                  0.0789      0.007     11.787      0.000       0.066       0.092
exper                 0.0268      0.005      5.112      0.000       0.017       0.037
np.square(exper)     -0.0005      0.000     -4.847      0.000      -0.001      -0.000
tenure                0.0291      0.007      4.302      0.000       0.016       0.042
np.square(tenure)    -0.0005      0.000     -2.306      0.022      -0.001   -7.89e-05
==============================================================================
Omnibus:                       15.526   Durbin-Watson:                   1.785
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               32.182
Skew:                          -0.062   Prob(JB):                     1.03e-07
Kurtosis:                       4.205   Cond. No.                     4.86e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.86e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

## Ejemplo 7.7 Efectos de la atracclón ffslca sobre los salarios (beauty.dta)

In [2]:
dfej7_7= pd.read_stata('beauty.dta')
dfej7_7.head()

,wage,lwage,belavg,abvavg,exper,looks,union,goodhlth,black,female,married,south,bigcity,smllcity,service,expersq,educ
0,5.73,1.745715,0,1,30,4,0,1,0,1,1,0,0,1,1,900,14
1,4.28,1.453953,0,0,28,3,0,1,0,1,1,1,0,1,0,784,12
2,7.96,2.074429,0,1,35,4,0,1,0,1,0,0,0,1,0,1225,10
3,11.57,2.448416,0,0,38,3,0,1,0,0,1,0,1,0,1,1444,16
4,11.42,2.435366,0,0,27,3,0,1,0,0,1,0,0,1,0,729,16

In [72]:
regdfej7_7 = smf.ols('np.log(wage) ~ belavg + abvavg + educ + exper + married + black', data = dfej7_7).fit() 
print(regdfej7_7.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.233
Model:                            OLS   Adj. R-squared:                  0.229
Method:                 Least Squares   F-statistic:                     63.35
Date:                Mon, 13 Jul 2020   Prob (F-statistic):           8.78e-69
Time:                        23:01:55   Log-Likelihood:                -965.22
No. Observations:                1260   AIC:                             1944.
Df Residuals:                    1253   BIC:                             1980.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.3623      0.085      4.244      0.000       0.195       0.530
belavg        -0.1773      0.046     -3.824      0.000      -0.268      -0.086
abvavg        -0.0104      0.034     -0.309      0.758      -0.076       0.056
educ           0.0723      0.006     12.455      0.000       0.061       0.084
exper          0.0167      0.001     12.769      0.000       0.014       0.019
married        0.1718      0.033      5.163      0.000       0.107       0.237
black         -0.1279      0.057     -2.227      0.026      -0.241      -0.015
==============================================================================
Omnibus:                       33.543   Durbin-Watson:                   1.749
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               72.571
Skew:                           0.088   Prob(JB):                     1.74e-16
Kurtosis:                       4.162   Cond. No.                         146.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
# hacer la ecuación para hombres y para mujeres

In [3]:
dfej7_7M = dfej7_7[dfej7_7.female == 1]

In [4]:
regdfej7_7M = smf.ols('np.log(wage) ~ belavg + abvavg + educ + exper + married + black', data = dfej7_7M).fit() 
print(regdfej7_7M.summary())

c:\python\lib\site-packages\statsmodels\compat\pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.208
Model:                            OLS   Adj. R-squared:                  0.197
Method:                 Least Squares   F-statistic:                     18.79
Date:                Wed, 15 Sep 2021   Prob (F-statistic):           1.94e-19
Time:                        15:57:53   Log-Likelihood:                -285.84
No. Observations:                 436   AIC:                             585.7
Df Residuals:                     429   BIC:                             614.2
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0820      0.130      0.631      0.528      -0.173       0.337
belavg        -0.1007      0.069     -1.467      0.143      -0.236       0.034
abvavg         0.0406      0.051      0.799      0.425      -0.059       0.140
educ           0.0847      0.009      9.359      0.000       0.067       0.103
exper          0.0110      0.002      4.965      0.000       0.007       0.015
married       -0.0379      0.045     -0.834      0.405      -0.127       0.051
black          0.1384      0.072      1.929      0.054      -0.003       0.279
==============================================================================
Omnibus:                       38.110   Durbin-Watson:                   1.782
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              153.818
Skew:                           0.224   Prob(JB):                     3.97e-34
Kurtosis:                       5.875   Cond. No.                         122.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Ejemplo 7.8 Efectos de las clasificaclones de tas facultades de derecho sobre los salarios iniciales (lawsch85.dta)

In [73]:
dfej7_8= pd.read_stata('lawsch85.dta')
dfej7_8.head()

,rank,salary,cost,LSAT,GPA,libvol,faculty,age,clsize,north,...,east,west,lsalary,studfac,top10,r11_25,r26_40,r41_60,llibvol,lcost
0,128,31400.0,8340.0,155.0,3.15,216.0,45.0,12.0,210.0,1,...,0,0,10.354563,4.666667,0,0,0,0,5.375278,9.028818
1,104,33098.0,6980.0,160.0,3.50,256.0,44.0,113.0,190.0,0,...,0,0,10.407228,4.318182,0,0,0,0,5.545177,8.850804
2,34,32870.0,16370.0,155.0,3.25,424.0,78.0,134.0,270.0,0,...,1,0,10.400315,3.461539,0,0,1,0,6.049734,9.703206
3,49,35000.0,17566.0,157.0,3.20,329.0,136.0,89.0,277.0,0,...,1,0,10.463103,2.036765,0,0,0,1,5.796058,9.773721
4,95,33606.0,8350.0,162.0,3.38,332.0,56.0,70.0,150.0,0,...,0,1,10.422460,2.678571,0,0,0,0,5.805135,9.030017

In [79]:
dfej7_8['r61_100'] = np.where(((dfej7_8['rank'] > 60) & (dfej7_8['rank'] <= 100)), 1, 0)

In [80]:
dfej7_8[['rank','top10','r11_25','r26_40','r41_60', 'r61_100']].head()

   rank  top10  r11_25  r26_40  r41_60  r61_100
0   128      0       0       0       0        0
1   104      0       0       0       0        0
2    34      0       0       1       0        0
3    49      0       0       0       1        0
4    95      0       0       0       0        1

In [81]:
regdfej7_8 = smf.ols('np.log(salary) ~ top10 + r11_25 + r26_40 + r41_60 +r61_100 + LSAT+GPA+ np.log(libvol)+np.log(cost)', data = dfej7_8).fit() 
print(regdfej7_8.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(salary)   R-squared:                       0.911
Model:                            OLS   Adj. R-squared:                  0.905
Method:                 Least Squares   F-statistic:                     143.2
Date:                Mon, 13 Jul 2020   Prob (F-statistic):           9.45e-62
Time:                        23:26:37   Log-Likelihood:                 146.45
No. Observations:                 136   AIC:                            -272.9
Df Residuals:                     126   BIC:                            -243.8
Df Model:                           9
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          9.1653      0.411     22.277      0.000       8.351       9.979
top10              0.6996      0.053     13.078      0.000       0.594       0.805
r11_25             0.5935      0.039     15.049      0.000       0.515       0.672
r26_40             0.3751      0.034     11.005      0.000       0.308       0.443
r41_60             0.2628      0.028      9.399      0.000       0.207       0.318
r61_100            0.1316      0.021      6.254      0.000       0.090       0.173
LSAT               0.0057      0.003      1.858      0.066      -0.000       0.012
GPA                0.0137      0.074      0.185      0.854      -0.133       0.161
np.log(libvol)     0.0364      0.026      1.398      0.165      -0.015       0.088
np.log(cost)       0.0008      0.025      0.033      0.973      -0.049       0.051
==============================================================================
Omnibus:                        9.419   Durbin-Watson:                   1.926
Prob(Omnibus):                  0.009   Jarque-Bera (JB):               20.478
Skew:                           0.100   Prob(JB):                     3.57e-05
Kurtosis:                       4.890   Cond. No.                     8.98e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.98e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

## Ejemplo 7.9 Efectos del uso del computador sobre los salarios ()

## Ejemplo 7.10 Ecuación del logaritmo del salario por hora* (wage1.dta)

In [3]:
dfej7_10= pd.read_stata('wage1.dta')
dfej7_10.head()

,wage,educ,exper,tenure,nonwhite,female,married,numdep,smsa,northcen,...,trcommpu,trade,services,profserv,profocc,clerocc,servocc,lwage,expersq,tenursq
0,3.10,11,2,0,0,1,0,2,1,0,...,0,0,0,0,0,0,0,1.131402,4,0
1,3.24,12,22,2,0,1,1,3,1,0,...,0,0,1,0,0,0,1,1.175573,484,4
2,3.00,11,2,0,0,0,0,2,0,0,...,0,1,0,0,0,0,0,1.098612,4,0
3,6.00,8,44,28,0,0,1,0,1,0,...,0,0,0,0,0,1,0,1.791759,1936,784
4,5.30,12,7,2,0,0,1,1,0,0,...,0,0,0,0,0,0,0,1.667707,49,4

In [13]:
# previamente se pasó a float en ejercicio 7.5
femeduc = dfej7_1['female']* dfej7_1['educ']

In [14]:
regdfej7_10 = smf.ols('np.log(wage) ~ female +  educ + femeduc +exper + np.square(exper) + tenure + np.square(tenure)', data = dfej7_1).fit() 
print(regdfej7_10.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.441
Model:                            OLS   Adj. R-squared:                  0.433
Method:                 Least Squares   F-statistic:                     58.37
Date:                Tue, 14 Jul 2020   Prob (F-statistic):           1.67e-61
Time:                        12:07:20   Log-Likelihood:                -260.49
No. Observations:                 526   AIC:                             537.0
Df Residuals:                     518   BIC:                             571.1
Df Model:                           7
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept             0.3888      0.119      3.276      0.001       0.156       0.622
female               -0.2268      0.168     -1.354      0.176      -0.556       0.102
educ                  0.0824      0.008      9.725      0.000       0.066       0.099
femeduc              -0.0056      0.013     -0.426      0.670      -0.031       0.020
exper                 0.0293      0.005      5.886      0.000       0.020       0.039
np.square(exper)     -0.0006      0.000     -5.398      0.000      -0.001      -0.000
tenure                0.0319      0.007      4.647      0.000       0.018       0.045
np.square(tenure)    -0.0006      0.000     -2.509      0.012      -0.001      -0.000
==============================================================================
Omnibus:                       13.302   Durbin-Watson:                   1.795
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               24.887
Skew:                          -0.080   Prob(JB):                     3.94e-06
Kurtosis:                       4.053   Cond. No.                     8.41e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.41e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

## Ejemplo 7.11 Efectos de la raza sobre los salaries de los jugadores de béisbol (mlb1.dta)

In [15]:
dfej7_11= pd.read_stata('mlb1.dta')
dfej7_11.head()

,salary,teamsal,nl,years,games,atbats,runs,hits,doubles,triples,...,runsyr,percwhte,percblck,perchisp,blckpb,hispph,whtepw,blckph,hisppb,lsalary
0,6329213.0,38407380.0,1,12,1705,6705,1076,1939,320,67,...,89.666664,70.277969,18.844229,10.877804,0.000000,0.0,70.277969,0.000000,0.0,15.660686
1,3375000.0,38407380.0,1,8,918,3333,407,863,156,38,...,50.875000,70.277969,18.844229,10.877804,18.844229,0.0,0.000000,10.877804,0.0,15.031906
2,3100000.0,38407380.0,1,5,751,2807,370,840,148,18,...,74.000000,70.277969,18.844229,10.877804,0.000000,0.0,70.277969,0.000000,0.0,14.946913
3,2900000.0,38407380.0,1,8,1056,3337,405,816,143,18,...,50.625000,70.277969,18.844229,10.877804,0.000000,0.0,70.277969,0.000000,0.0,14.880221
4,1650000.0,38407380.0,1,12,1196,3603,437,928,19,16,...,36.416668,70.277969,18.844229,10.877804,18.844229,0.0,0.000000,10.877804,0.0,14.316286

In [17]:
dfej7_11.dtypes

salary      float32
teamsal     float32
nl             int8
years          int8
games         int16
atbats        int16
runs          int16
hits          int16
doubles       int16
triples       int16
hruns         int16
rbis          int16
bavg        float32
bb            int16
so            int16
sbases        int16
fldperc       int16
frstbase       int8
scndbase       int8
shrtstop       int8
thrdbase       int8
outfield       int8
catcher        int8
yrsallst       int8
hispan         int8
black          int8
whitepop    float32
blackpop    float32
hisppop     float32
pcinc         int16
gamesyr     float32
hrunsyr     float32
atbatsyr    float32
allstar     float32
slugavg     float32
rbisyr      float32
sbasesyr    float32
runsyr      float32
percwhte    float32
percblck    float32
perchisp    float32
blckpb      float32
hispph      float32
whtepw      float32
blckph      float32
hisppb      float32
lsalary     float32
dtype: object

In [18]:
dfej7_11['years'] = dfej7_11['years'].astype(float)

In [19]:
dfej7_11['black'] = dfej7_11['black'].astype(float)

In [20]:
dfej7_11['hispan'] = dfej7_11['hispan'].astype(float)

In [21]:
blaper = dfej7_11['black']*dfej7_11['percblck']

In [22]:
hisper = dfej7_11['hispan']*dfej7_11['perchisp']

In [23]:
regdfej7_11 = smf.ols('np.log(salary) ~ years +  gamesyr + bavg + hrunsyr + rbisyr + runsyr + fldperc +allstar+ black + hispan + blaper + hisper ', data = dfej7_11).fit() 
print(regdfej7_11.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(salary)   R-squared:                       0.638
Model:                            OLS   Adj. R-squared:                  0.624
Method:                 Least Squares   F-statistic:                     46.48
Date:                Tue, 14 Jul 2020   Prob (F-statistic):           1.31e-62
Time:                        14:46:04   Log-Likelihood:                -350.12
No. Observations:                 330   AIC:                             726.2
Df Residuals:                     317   BIC:                             775.6
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.3437      2.183      4.739      0.000       6.050      14.638
years          0.0673      0.013      5.224      0.000       0.042       0.093
gamesyr        0.0089      0.003      2.624      0.009       0.002       0.016
bavg           0.0009      0.002      0.625      0.533      -0.002       0.004
hrunsyr        0.0146      0.016      0.889      0.375      -0.018       0.047
rbisyr         0.0045      0.008      0.593      0.553      -0.010       0.019
runsyr         0.0072      0.005      1.577      0.116      -0.002       0.016
fldperc        0.0011      0.002      0.513      0.609      -0.003       0.005
allstar        0.0075      0.003      2.621      0.009       0.002       0.013
black         -0.1980      0.125     -1.578      0.116      -0.445       0.049
hispan        -0.1900      0.153     -1.241      0.215      -0.491       0.111
blaper         0.0125      0.005      2.509      0.013       0.003       0.022
hisper         0.0201      0.010      2.051      0.041       0.001       0.039
==============================================================================
Omnibus:                        1.828   Durbin-Watson:                   1.341
Prob(Omnibus):                  0.401   Jarque-Bera (JB):                1.709
Skew:                           0.012   Prob(JB):                        0.425
Kurtosis:                       3.352   Cond. No.                     5.65e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.65e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

## Ejemplo 7.12 Un modelo lineal de probabildad de las detenciones (crime1.dta)

In [24]:
dfej7_12= pd.read_stata('crime1.dta')
dfej7_12.head()

,narr86,nfarr86,nparr86,pcnv,avgsen,tottime,ptime86,qemp86,inc86,durat,black,hispan,born60,pcnvsq,pt86sq,inc86sq
0,0,0,0,0.38,17.600000,35.200001,12,0.0,0.0,0.0,0,0,1,0.1444,144,0.000000
1,2,2,0,0.44,0.000000,0.000000,0,1.0,0.8,0.0,0,1,0,0.1936,0,0.640000
2,1,1,0,0.33,22.799999,22.799999,0,0.0,0.0,11.0,1,0,1,0.1089,0,0.000000
3,2,2,1,0.25,0.000000,0.000000,5,2.0,8.8,0.0,0,1,1,0.0625,25,77.440002
4,1,1,0,0.00,0.000000,0.000000,0,2.0,8.1,1.0,0,0,0,0.0000,0,65.610008

In [ ]:
# Primero creamos la dummy arr86 con series arr86 = 0. Luego restringimos el sampl con narr86 > 0 . 
# Lo creamos fuera del dataframe, pues no hace falta. En la regresión puedo poner series separadas

In [32]:
arr86= np.where(dfej7_12['narr86'] >0 , 1, 0 )

In [ ]:
dfej7_12['arr86']=np.where(dfej7_12['narr86'] >0 , 1, 0 )

In [27]:
dfej7_12['narr86'] = dfej7_12['narr86'].astype(float)

In [28]:
dfej7_12['ptime86'] = dfej7_12['ptime86'].astype(float)

In [30]:
dfej7_12.dtypes

narr86     float64
nfarr86       int8
nparr86       int8
pcnv       float32
avgsen     float32
tottime    float32
ptime86    float64
qemp86     float32
inc86      float32
durat      float32
black         int8
hispan        int8
born60        int8
pcnvsq     float32
pt86sq       int16
inc86sq    float32
dtype: object

In [33]:
regdfej7_12 = smf.ols('arr86 ~ pcnv +  avgsen + tottime + ptime86 + qemp86', data = dfej7_12).fit() 
print(regdfej7_12.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  arr86   R-squared:                       0.047
Model:                            OLS   Adj. R-squared:                  0.046
Method:                 Least Squares   F-statistic:                     27.03
Date:                Tue, 14 Jul 2020   Prob (F-statistic):           9.09e-27
Time:                        16:33:35   Log-Likelihood:                -1609.7
No. Observations:                2725   AIC:                             3231.
Df Residuals:                    2719   BIC:                             3267.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.4406      0.017     25.568      0.000       0.407       0.474
pcnv          -0.1624      0.021     -7.649      0.000      -0.204      -0.121
avgsen         0.0061      0.006      0.947      0.344      -0.007       0.019
tottime       -0.0023      0.005     -0.454      0.650      -0.012       0.007
ptime86       -0.0220      0.005     -4.739      0.000      -0.031      -0.013
qemp86        -0.0428      0.005     -7.925      0.000      -0.053      -0.032
==============================================================================
Omnibus:                      766.502   Durbin-Watson:                   1.581
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              474.581
Skew:                           0.903   Prob(JB):                    8.83e-104
Kurtosis:                       2.043   Cond. No.                         16.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.