In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
from statsmodels.iolib.summary2 import summary_col

## Ejemplo 12.1 Contraste de autocorrelación AR(l) en la curva de Phillips (phillips.dta)

In [2]:
dfej12_1 = pd.read_stata('phillips.dta')
dfej12_1.head()

   year  unem  inf  unem_1  inf_1  unem_2  inf_2  cunem  cinf  cunem_1  cinf_1
0  1948   3.8  8.1     NaN    NaN     NaN    NaN    NaN   NaN      NaN     NaN
1  1949   5.9 -1.2     3.8    8.1     NaN    NaN    2.1  -9.3      NaN     NaN
2  1950   5.3  1.3     5.9   -1.2     3.8    8.1   -0.6   2.5      2.1    -9.3
3  1951   3.3  7.9     5.3    1.3     5.9   -1.2   -2.0   6.6     -0.6     2.5
4  1952   3.0  1.9     3.3    7.9     5.3    1.3   -0.3  -6.0     -2.0     6.6

## Ejemplo 12.2 Contraste de autocorrelación AR(l) en la ecuación de salario mínlmo (prminwge.dta)

In [3]:
dfej12_2 = pd.read_stata('prminwge.dta')
dfej12_2.head()

,year,avgmin,avgwage,kaitz,avgcov,covt,mfgwage,prdef,prepop,prepopf,...,lprunemp,lprgnp,lusgnp,lkaitz,lprun_1,lprepop,lprep_1,mincov,lmincov,lavgmin
0,1950,0.198,0.398,0.155,0.201,0.29,0.43,0.859,0.470,0.470,...,2.734367,6.778443,7.093155,-1.864330,NaN,-0.755023,NaN,0.099995,-2.302635,-1.619488
1,1951,0.209,0.410,0.164,0.207,0.29,0.45,0.881,0.449,0.449,...,2.772589,6.829794,7.191580,-1.807889,-1.870803,-0.800732,-0.755023,0.105520,-2.248859,-1.565421
2,1952,0.225,0.421,0.180,0.226,0.29,0.48,0.953,0.434,0.434,...,2.694627,6.923530,7.229839,-1.714798,-1.832582,-0.834711,-0.800732,0.120784,-2.113753,-1.491655
3,1953,0.311,0.480,0.229,0.231,0.29,0.50,0.970,0.428,0.428,...,2.674149,6.985919,7.269129,-1.474033,-1.910543,-0.848632,-0.834711,0.149669,-1.899331,-1.167962
4,1954,0.313,0.508,0.211,0.224,0.29,0.52,1.000,0.415,0.415,...,2.727853,7.007058,7.255733,-1.555897,-1.931022,-0.879477,-0.848632,0.138016,-1.980387,-1.161552

## Ejemplo 12.3 Contraste de autocorrelación AR(3) (barium.dta)

In [5]:
dfej12_3 = pd.read_stata('barium.dta')
dfej12_3.head()

,chnimp,bchlimp,befile6,affile6,afdec6,befile12,affile12,afdec12,chempi,gas,...,apr,may,jun,jul,aug,sep,oct,nov,dec,percchn
0,220.462006,9578.375977,0,0,0,0,0,0,100.099998,7.830000e+09,...,0,0,0,0,0,0,0,0,0,2.301664
1,94.797997,11219.480469,0,0,0,0,0,0,100.900002,8.820000e+09,...,0,0,0,0,0,0,0,0,0,0.844941
2,219.357498,9719.900391,0,0,0,0,0,0,101.099998,8.450000e+09,...,1,0,0,0,0,0,0,0,0,2.256788
3,317.421509,12920.950195,0,0,0,0,0,0,102.500000,9.240001e+09,...,0,1,0,0,0,0,0,0,0,2.456642
4,114.639000,9790.446289,0,0,0,0,0,0,104.099998,9.150000e+09,...,0,0,1,0,0,0,0,0,0,1.170927

## Ejemplo 12.4 Estimación de Cochrane Orcutt en el estudio de sucesos* (barium.dta)

In [7]:
regdfej12_4 = smf.ols('np.log(chnimp) ~  np.log(chempi) + np.log(gas) + np.log(rtwex) + befile6 + affile6 + afdec6 ', data = dfej12_3).fit()
print(regdfej12_4.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(chnimp)   R-squared:                       0.305
Model:                            OLS   Adj. R-squared:                  0.271
Method:                 Least Squares   F-statistic:                     9.064
Date:                Thu, 16 Jul 2020   Prob (F-statistic):           3.25e-08
Time:                        12:00:23   Log-Likelihood:                -114.79
No. Observations:                 131   AIC:                             243.6
Df Residuals:                     124   BIC:                             263.7
Df Model:                           6
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept        -17.8030     21.045     -0.846      0.399     -59.458      23.852
np.log(chempi)     3.1172      0.479      6.505      0.000       2.169       4.066
np.log(gas)        0.1964      0.907      0.217      0.829      -1.598       1.991
np.log(rtwex)      0.9830      0.400      2.457      0.015       0.191       1.775
befile6            0.0596      0.261      0.228      0.820      -0.457       0.576
affile6           -0.0324      0.264     -0.123      0.903      -0.556       0.491
afdec6            -0.5652      0.286     -1.978      0.050      -1.131       0.001
==============================================================================
Omnibus:                        9.160   Durbin-Watson:                   1.458
Prob(Omnibus):                  0.010   Jarque-Bera (JB):                9.978
Skew:                          -0.491   Prob(JB):                      0.00681
Kurtosis:                       3.930   Cond. No.                     9.62e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.62e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

## Ejemplo 12.5 Curva de Phillips estática* (phillips.dta)

In [8]:
# Creo la serie, para no cambiar el nombre a la base, y porque la regresión no permite el nombre "inf", por ser un código 
# en patsy
inflation = dfej12_1.inf

In [9]:
regdfej12_5 = smf.ols('inflation ~  unem ', data = dfej12_1).fit()
print(regdfej12_5.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              inflation   R-squared:                       0.053
Model:                            OLS   Adj. R-squared:                  0.033
Method:                 Least Squares   F-statistic:                     2.616
Date:                Thu, 16 Jul 2020   Prob (F-statistic):              0.112
Time:                        14:12:03   Log-Likelihood:                -124.43
No. Observations:                  49   AIC:                             252.9
Df Residuals:                      47   BIC:                             256.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.4236      1.719      0.828      0.412      -2.035       4.882
unem           0.4676      0.289      1.617      0.112      -0.114       1.049
==============================================================================
Omnibus:                        8.905   Durbin-Watson:                   0.803
Prob(Omnibus):                  0.012   Jarque-Bera (JB):                8.336
Skew:                           0.979   Prob(JB):                       0.0155
Kurtosis:                       3.502   Cond. No.                         23.5
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Ejemplo 12.6 Diferenciaclón de la ecuación de tipo de interés (intdef.dta)

In [10]:
dfej12_6 = pd.read_stata('intdef.dta')
dfej12_6.head()

,year,i3,inf,rec,out,def,i3_1,inf_1,def_1,ci3,cinf,cdef,y77
0,1948,1.04,8.1,16.4,11.7,-4.700000,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1949,1.10,-1.2,14.6,14.4,-0.200001,1.04,8.1,-4.700000,0.06,-9.3,4.499999,0
2,1950,1.22,1.3,14.5,15.6,1.100000,1.10,-1.2,-0.200001,0.12,2.5,1.300001,0
3,1951,1.55,7.9,16.1,14.2,-1.900001,1.22,1.3,1.100000,0.33,6.6,-3.000001,0
4,1952,1.77,1.9,18.9,19.4,0.500000,1.55,7.9,-1.900001,0.22,-6.0,2.400001,0

## Ejemplo 12.7 El salario mínlmo de Puerto Rlco* (prminwge.dta)

## Ejemplo 12.8 Heteroscedasticidad y la hipótesis de mercados eficientes (nyse.dta)

In [11]:
dfej12_8 = pd.read_stata('nyse.dta')
dfej12_8.head()

       price    return  return_1  t    price_1    price_2    cprice  cprice_1
0  49.750000       NaN       NaN  1        NaN        NaN       NaN       NaN
1  51.439999  3.396982       NaN  2  49.750000        NaN  1.689999       NaN
2  52.049999  1.185849  3.396982  3  51.439999  49.750000  0.610001  1.689999
3  52.279999  0.441882  1.185849  4  52.049999  51.439999  0.230000  0.610001
4  54.240002  3.749049  0.441882  5  52.279999  52.049999  1.960003  0.230000

In [13]:
# cambio de nombre pero generando serie
retu = dfej12_8['return']

In [14]:
regdfej12_8 = smf.ols('retu ~  retu.shift(1) ', data = dfej12_8).fit()
print(regdfej12_8.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   retu   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     2.399
Date:                Thu, 16 Jul 2020   Prob (F-statistic):              0.122
Time:                        14:16:04   Log-Likelihood:                -1491.2
No. Observations:                 689   AIC:                             2986.
Df Residuals:                     687   BIC:                             2996.
Df Model:                           1
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         0.1796      0.081      2.225      0.026       0.021       0.338
retu.shift(1)     0.0589      0.038      1.549      0.122      -0.016       0.134
==============================================================================
Omnibus:                      114.206   Durbin-Watson:                   1.997
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              646.991
Skew:                          -0.598   Prob(JB):                    3.22e-141
Kurtosis:                       7.594   Cond. No.                         2.14
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Ejemplo 12.9 Efecto ARCH en los rendimientos de las acciones* (nyse.dta)